



/* Button Colors */
.etat-stock { background-color: #c7c8cb; } /* Light Gray */
.bon-entrees { background-color: #7ea642; } /* Green */
.bon-sorties { background-color: #c48264; } /* Brownish Orange */
.location { background-color: #e6b955; } /* Golden Yellow */
.inventaire { background-color: #c7c8cb; } /* Light Gray */
.services { background-color: #7ea642; } /* Green */
.employers { background-color: #c48264; } /* Brownish Orange */
.adjustment { background-color: #ed8759; } /* Coral */
.fornisseurs { background-color: #999573; } /* Olive Gray */
.articles { background-color: #e6b955; } /* Golden Yellow */
.categories { background-color: #ed8759; } /* Coral */
.bon-retour { background-color: #ed8759; } /* Olive Gray */
